.dropdownSelect {
    width: 120px;
    white-space: nowrap;
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) for overflowing text */
    background-color: #336699;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    user-select: none;
    position: relative;
    border-radius: 5px;
}

.dropdownSelect::after {
    content: "\25BC";
    position: absolute;
    right: 20px;
    top: calc(50% - 0.5em);
}